.main-form {
    &__wrapper-send {
        display: flex;
        justify-content: space-between;
        margin-bottom: 85px;
    }
    &__send {
        width: 200px;
        height: 58px;
        margin-top: 54px;
        margin-bottom: 85px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        border: none;
        font-family: "Mabry Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #3D3C5A;
        text-align: center;
        transition: 0.3s;
    }
    &__info-text {
        margin-top: 54px;
        width: 325px;
        font-family: "Mabry Pro";
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
    }
    &__politic {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        &:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}